extend includes/_layout
append variables
	//- page information
	- var pageTitle= "index";
	- var pageDescription= site.description;
	- var pageKeywords= site.keywords;
	//- OGP
	- var pageOgpTitle= "";
	- var pageOgpImage= site.ogpImage
	- var pageLang= "ja";
	- var pageOgpType= "website";
	//- page URL
	- var pageUrl= site.relativePath;

block content
	.c-wrap
		.c-grid
			.p-contents
				.p-post
					h2.p-post__ttl: a( href="single.html" ) 記事タイトル
					ul.p-post__meta
						li.p-post__meta__item: date.p-post__meta__date 2017年10月31日
						li.p-post__meta__item: i( class="fa fa-folder" aria-hidden="true" ): a.p-post__meta__link( href="#" ) カテゴリ名
						li.p-post__meta__item: i( class="fa fa-tag" aria-hidden="true" ): a.p-post__meta__link( href="#" ) タグ名
					img.p-post__eyecatch( src="/wpbeg-static/images/eyecatch/001.png" alt="アイキャッチ" )
					p 本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。
					a.p-post__morelink( href="single.html" ) 続きを読む
				.p-post
					h2.p-post__ttl: a( href="single.html" ) 長い記事のタイトル長い記事のタイトル長い記事のタイトル長い記事のタイトル長い記事のタイトル長い記事のタイトル長い記事のタイトル
					ul.p-post__meta
						li.p-post__meta__item: date.p-post__meta__date 2017年10月31日
						li.p-post__meta__item: i( class="fa fa-folder" aria-hidden="true" ): a.p-post__meta__link( href="#" ) カテゴリ名
						li.p-post__meta__item: i( class="fa fa-tag" aria-hidden="true" ): a.p-post__meta__link( href="#" ) タグ名
					img.p-post__eyecatch( src="/wpbeg-static/images/eyecatch/002.png" alt="アイキャッチ" )
					p 本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。
					a.p-post__morelink( href="single.html" ) 続きを読む
				.p-post
					h2.p-post__ttl: a( href="single.html" ) 記事タイトル
					ul.p-post__meta
						li.p-post__meta__item: date.p-post__meta__date 2017年10月31日
						li.p-post__meta__item: i( class="fa fa-folder" aria-hidden="true" ): a.p-post__meta__link( href="#" ) カテゴリ名
						li.p-post__meta__item: i( class="fa fa-tag" aria-hidden="true" ): a.p-post__meta__link( href="#" ) タグ名
					img.p-post__eyecatch( src="/wpbeg-static/images/eyecatch/003.png" alt="アイキャッチ" )
					p 本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。
					a.p-post__morelink( href="single.html" ) 続きを読む
			.p-pagenation
				a.prevpostslink( rel="next" href="#" ) Prev
				span.current 1
				a.page.larger( title="Page 2" href="#" ) 2
				a.page.larger( title="Page 3" href="#" ) 3
				a.page.larger( title="Page 4" href="#" ) 4
				a.page.larger( title="Page 5" href="#" ) 5
				a.nextpostslink( rel="next" href="#" ) Next
			.p-sidebar
				.widget
					h2: <i class="fa fa-folder-open" aria-hidden="true"></i> Category
					ul
						li: a( href="#" ) カテゴリ名
						li: a( href="#" ) カテゴリ名
				.widget
					h2: <i class="fa fa-tags" aria-hidden="true"></i> Tag
					ul
						li: a( href="#" ) タグ名
						li: a( href="#" ) タグ名
				.widget
					h2: <i class="fa fa-archive" aria-hidden="true"></i> Archive
					ul
						li: a( href="#" ) 2017年10月
						li: a( href="#" ) 2017年9月
