extend includes/_layout
append variables
	//- page information
	- var pageTitle= "single";
	- var pageDescription= site.description;
	- var pageKeywords= site.keywords;
	//- OGP
	- var pageOgpTitle= "";
	- var pageOgpImage= site.ogpImage
	- var pageLang= "ja";
	- var pageOgpType= "website";
	//- page URL
	- var pageUrl= site.relativePath;

block content
	.c-wrap
		.c-grid
			.p-contents
				.p-post
					h2.p-post__ttl: a( href="#" ) 記事タイトル
					ul.post__meta
						li.post__meta__item: date.post__meta__date 2017年10月31日
						li.post__meta__item: i( class="fa fa-folder" aria-hidden="true" ): a.post__meta__link( href="#" ) カテゴリ名
						li.post__meta__item: i( class="fa fa-tag" aria-hidden="true" ): a.post__meta__link( href="#" ) タグ名
					img.attachment-post-thumbnail( src="images/eyecatch/001.png" alt="アイキャッチ" )
					p 本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。本文の抜粋が入ります。
					h3 h3見出し
					h4 h4見出し
					h5 h5見出し
					h6 h6見出し
					hr
					h3 段落
					p 本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
					p 本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
					hr
					h3 リストタイプ
					h4 定義リスト
					dl
						dt 定義リスト
						dd 定義リスト
					ol
						li 番号付きリスト
						li 番号付きリスト
							ol
								li 番号付きリスト
								li 番号付きリスト
					ul
						li 番号無しリスト
						li 番号無しリスト
							ul
								li 番号無しリスト
								li 番号無しリスト
					h3 引用文章
					blockquote 引用文章が入ります<br><span>http://wp.yat-net.com</span>
					code= "<div>"
							|
							br
							= "    <ul>"
							|
							br
							= "         <li>text</li>"
							|
							br
							= "        <li>text</li>"
							|
							br
							= "        <li>text</li>"
							|
							br
							= "    </ul>"
							|
							br
							= "</div>"
					img.alignleft( src="images/004.png" alt='' width="400" )
					p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
					img.alignright( src="images/005.png" alt='' width="400" )
					p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
					img.aligncenter( src="images/006.png" alt='' width="400" )
					p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
					table
						tbody
							tr
								th テーブルです
								th テーブルです
							tr
								td テーブルです
								td テーブルです
					.post__author
						p.post__author__ttl 投稿者
						img.avatar( src="images/common/ico/author_default.png" alt="auhor" )
						.post__author__name: a( href="#" ) 投稿者名
						p.post__author__comment 投稿者紹介文章がはいります。投稿者紹介文章がはいります。投稿者紹介文章がはいります。投稿者紹介文章がはいります。投稿者紹介文章がはいります。投稿者紹介文章がはいります。投稿者紹介文章がはいります。投稿者紹介文章がはいります。投稿者紹介文章がはいります。
				.p-comment
					h2.p-comment__ttl Comment
					ol.p-comment__list
						li.comment.parent
							.comment-body
								.comment-author
									img.avatar( src="images/common/ico/author_default.png" alt="auhor" )
									cite ユーザー名
									span より:
								.comment-meta.commentmetadata
									a( href="#") Octber 11, 2017 at 11:45 pm
								p コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。
								.reply
									a.comment-reply-link( href="#" ) 返信
							ul.children
								li.comment.bypostauthor
									.comment-body
										.comment-author
											img.avatar( src="images/common/ico/author_default.png" alt="auhor" )
											cite ユーザー名
											span より:
										.comment-meta.commentmetadata
											a( href="#" ) Octber 11, 2017 at 11:45 pm
										p コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。
										.reply
											a.comment-reply-link( href="#" ) 返信
					.comment-page-link
						a.prev.page-numbers( href="#" ) &laquo; 前へ</a>
						a.page-numbers( href="#" ) 1
						a.page-numbers( href="#" ) 2
						a.page-numbers( href="#" ) 3
						span.page-numbers.current 4
					.comment-respond
						h3.comment-respond__ttl Leave a Reply
						p.comment-notes メールアドレスが公開されることはありません。<br><span class="required">*</span> が付いている欄は必須項目です
						form#commentform( method="post" action="" )
							p.comment-form-comment
								label( for="name" ) name
									span.required *
								input#author( name="name" type="text" value="" size="30" )
							p.comment-form-author
								label( for="email" ) email
									span.required *
								input#email( name="email" type="text" value="" size="30" )
							p.comment-form-email
								label( for="website" ) website
								input#website( name="website" type="text" value="" size="30" )
							p.comment-form-url
								label( for="comment" ) comment
									span.required *
									textarea#comment( name="comment" type="text" value="" size="30" )
							p.form-submit
								input#submit( name="submit" type="submit" value="POST COMMENT" )


			.p-pagenation
				a.prevpostslink( rel="next" href="#" ) Prev
				a.nextpostslink( rel="next" href="#" ) Next
			.p-sidebar
				.widget
					h2: <i class="fa fa-folder-open" aria-hidden="true"></i> Category
					ul
						li: a( href="#" ) カテゴリ名
						li: a( href="#" ) カテゴリ名
				.widget
					h2: <i class="fa fa-tags" aria-hidden="true"></i> Tag
					.tagcloud
						a.tag-cloud-link( href="#") タグ
						a.tag-cloud-link( href="#") タグ
				.widget
					h2: <i class="fa fa-archive" aria-hidden="true"></i> Archive
					ul
						li: a( href="#" ) 2017年10月
						li: a( href="#" ) 2017年9月
