p {
	margin-bottom: 30px;
	font-size: 1.4rem;
	color: #777;
	line-height: 1.5;
	font-weight: 300;
}

h1 {
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 30px;
}
h3 {
	margin-bottom: 30px;
	font-size: 2.2rem;
	color: #95989A;
	border-left: 5px solid #4E91BE;
	padding-left: 10px;
}
h4 {
	margin-bottom: 30px;
	font-size: 2.0rem;
	color: #95989A;
	border-left: 4px solid #4E91BE;
	padding-left: 10px;
}
h5 {
	margin-bottom: 30px;
	font-size: 1.8rem;
	color: #95989A;
	border-left: 3px solid #4E91BE;
	padding-left: 10px;
}
h6 {
	margin-bottom: 30px;
	font-size: 1.6rem;
	color: #95989A;
	border-left: 2px solid #4E91BE;
	padding-left: 10px;
}

hr {
	margin: 20px 0 40px;
}
dl {
	color: #95989A;
	margin-top: 30px;
	margin-bottom: 30px;

	dt {
		margin-bottom: 20px;
		font-size: 1.6rem;
		font-weight: 500;
	}
	dd {
		margin-left: 20px;
		margin-bottom: 20px;
		font-size: 1.6rem;
		font-weight: 300;
	}
}
ol, ul {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #95989A;
	li {
		margin-bottom: 20px;
		margin-left: 40px;
		font-size: 1.6rem;
		font-weight: 300;
	}
}

ol {
	li {
		list-style-type: decimal;
		font-weight: 300;
	}
}
ul {
	li {
		list-style-type: disc;
		font-weight: 300;
	}
}
blockquote {
	padding: 20px;
	margin: 0 0 30px;
	line-height: 18px;
	background: #F0F0F0;
	font-weight: 300;
	font-style: italic;
	&::before {
		content: '"';
		margin-right: 5px;
		display: inline;
	}
	&::after {
		content: '"';
		display: inline;
		margin-left: 5px;
	}
}
img {
	max-width: 100%;
	margin-bottom: 30px;
	@include breakpoint( tablet ) {
		max-width: 700px;
	}
}
code {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 18px;
	font-weight: 300;
	background: #F0F0F0;
	display: block;
}
table {
	width: 100%;
	margin-bottom: 30px;
	color: #95989A;
	background: #D5D5D5;
	thead {
		tr {
			th {
				padding: 10px;
				background: #eee;
				font-size: 1.8rem;
			}
		}
	}
	tbody {
		tr {
			th {
				padding: 10px;
				font-weight: 500;
				font-size: 16px;
				background: #fff;
			}
			td {
				padding: 10px;
				font-weight: 300;
				background: #fff;
			}
		}
	}
}
iframe {
	max-width: 100%;
}
.alignleft {
	@include breakpoint( tablet ) {
		margin-right: 30px;
		float: left;
	}
}
.aligncenter {
	@include breakpoint( tablet ) {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.alignright {
	@include breakpoint( tablet ) {
		margin-left: 30px;
		float: right;
	}
}
