.post {
	margin-bottom: 50px;
	@include breakpoint( tablet ) {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__ttl {
		padding-left: 0;
		margin-bottom: 10px;
		font-size: 2.0rem;
		letter-spacing: 1.6px;
		line-height: 3.4rem;
		border-left: none;
		@include breakpoint( tablet ) {
			margin-bottom: 15px;
			font-size: 2.4rem;
		}
	}
	&__meta {
		margin-bottom: 10px;
		@include breakpoint( tablet ) {
			margin-bottom: 15px;
		}
		&__item {
			margin-left: 0;
			font-size: 1.2rem;
			display: inline;
			& .fa {
				&::before {
					color: #B2B2B2;
					margin-right: 4px;
				}
			}
		}
		&__date {
			margin-right: 10px;
			@include breakpoint( tablet ) {
				margin-right: 20px;
			}
		}
		&__link {
			margin-right: 10px;
		}
	}//&__meta
	&__author {
		width: 100%;
		height: 100%;
		margin-bottom: 50px;
		padding: 15px;
		border: 1px solid #C9C9C9;
		background: #fff;
		box-sizing: border-box;

		&::after {
			content: "";
			clear: both;
			display: block;
		}
		&__ttl {
			margin-bottom: 10px;
			color: #95989A;
			font-weight: 500;
			font-size: 1.4rem;
		}
		.avatar {
			margin-right: 15px;
			margin-bottom: 15px;
			float: left;
			clear: left;
			box-sizing: border-box;
			@include breakpoint( tablet ) {
				margin-bottom: 0;
			}
		}
		&__name {
			width: 60px;
			margin-bottom: 12px;
			display: inline-block;
		}
		&__comment {
			margin-bottom: 0;
			font-size: 1.4rem;
			font-weight: 200;
			float: left;
			box-sizing: border-box;
			@include breakpoint( tablet ) {
				width: 600px;
				margin-left: 75px;
				box-sizing: border-box;
				float: none;
			}
		}
	}
	.more-link {
		width: 60px;
		padding: 7px 30px;
		margin: 30px 0 50px auto;
		text-decoration: none;
		border: 1px solid $color--blue;
		font-size: 1.2rem;
		border-radius: 20px;
		display: block;
	}
	.attachment-post-thumbnail {
		margin-bottom: 10px;
		@include breakpoint( tablet ) {
			margin-bottom: 20px;
		}
	}
}

.wp-caption {
	font-size: 1.3rem;
	&-text {
		margin-top: -20px;
	}
}
.sticky {
	padding: 20px;
	background: #f3f3f3;
}
.gallery-caption {
	font-size: 1.3rem;
}
.bypostauthor {
	padding: 20px;
	background: #f0f8ff;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
