.p-serch-form {
	height: 33px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	@include breakpoint( tablet ){
		margin-top: 60px;
	}
	&__keyword {
		width: 189px;
		margin: 0;
		padding: 0 10px;
		font-size: 1.3rem;
		border-radius: 20px 0 0 20px;
		border: 1px solid #B5B5B5;
		border-right: none;
		background: #F8F8F8;
	}
	&__submit {
		width: 48px;
		// height: 33px;
		margin: 0;
		padding: 0;
		font-size: 1.3rem;
		color: #838484;
		border-radius: 0 20px 20px 0;
		border: 1px solid #95989A;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,d9d9d9+100 */
		background: #f0f0f0; /* Old browsers */
		background: linear-gradient(to bottom, #f0f0f0 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
		&:hover, &:active {
			cursor: pointer;
			background: #5193BF;
			color: #fff;
		}
	}
}
